extends layout

block content
  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")
    input(
      type="text"
      id="answer"
      name="answer"
      value=data.answer
    )

    input(type="submit" value="Submit")