extends layout
block content
  style.
    p {
      font-family: ff-real-text-pro, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      color: red;
    }


  -data = data || {}
  
  p You only get <b>ONE</b> attempt at an answer.

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="." method="POST")
    input(
      type="text"
      id="answer"
      name="answer"
      value=data.answer
    )

    input(type="submit" value="Submit")